[Unit]
Description=Khutulun Host
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/mnt/khutulun/common/plugin/host/host server -v

[Install]
WantedBy=default.target
