[Unit]
Description=Khutulun Conductor

[Service]
ExecStart=/mnt/khutulun/common/plugin/conductor/conductor server -vv

[Install]
WantedBy=default.target
