[Unit]
Description=Khutulun Agent
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/mnt/khutulun/common/delegate/agent/khutulun-agent server --journal -v

[Install]
WantedBy=default.target
