[Unit]
Description=Khutulun Agent
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/mnt/khutulun/common/plugin/agent/agent server --simple -v

[Install]
WantedBy=default.target
